* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 180px;
}
span {
  font-size: 15px;
  font-weight: normal;
}
.task1__btn {
  font-size: 15px;
  border: 1px solid lightgrey;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgrey;
  cursor: pointer;
}

.task1__btn:hover {
  background-color: lightgray;
}

.task1__lists {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task1__title {
  margin: 0;
  padding: 10px;
}
.task1__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
}
